.address {
  padding-top: 50px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f8f9fa;
  height: calc(100vh - 65px);
}

.addressContainer {
  border-width: 1px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaf3;
  border-radius: .5rem;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  max-width: 1500px;
  margin: 0px auto;
  overflow: hidden;
}
